@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial;
  background:
    radial-gradient(80rem 80rem at 10% -10%, rgba(99,102,241,0.06), transparent 40%),
    radial-gradient(70rem 70rem at 110% -20%, rgba(14,165,233,0.06), transparent 40%),
    #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
}
